*{
  margin: 0;
  padding: 0;
}

.card{
  width: 400px; 
  height: 500px;
  box-shadow: 6px 4px 18px -3px #494646;
  border-radius: 79px;
  padding-bottom: 64px;
  background-color: #fff;
}

img{
  padding:24px;
 object-fit: contain;
}
